<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	  <customErrors mode="Off"></customErrors>
	  <trust level="Full"/>
	  <compilation debug="true" targetFramework="4.7.2">
	    <assemblies>
	    </assemblies>
	  </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  <pages controlRenderingCompatibilityVersion="3.5">
      <controls>
        
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  <httpHandlers>
  </httpHandlers>
  <profile defaultProvider="DefaultProfileProvider">
  <providers>
  </providers>
  </profile>
  <membership defaultProvider="DefaultMembershipProvider">
  <providers>
  </providers>
  </membership>
  <roleManager defaultProvider="DefaultRoleProvider">
  <providers>
  </providers>
  </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.4460.0.49" newVersion="18.4460.0.49"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
    </handlers>
  </system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>

</configuration>
